{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>About me</h2>
        <p>This is my blog. I've written {% total_posts %} posts so far.</p>
        <p>Morbi commodo interdum rutrum. Nunc dictum nulla quam, 
            ac vestibulum diam tincidunt eu. Donec condimentum condimentum lorem, 
            id cursus ipsum dignissim vitae. Integer nec orci eget lectus ornare volutpat ut a
            nibh. Cras venenatis, purus nec aliquam pellentesque, nisi mauris porttitor eros, 
            ut pharetra metus magna et lectus. Maecenas et est ligula. Sed ut ligula tincidunt, 
            laoreet arcu quis, bibendum lorem. Ut suscipit tortor vel sem auctor laoreet. 
            Nunc quis mi eu felis cursus tristique. Donec fringilla, metus non laoreet 
            tristique, nunc ipsum tempus lacus, vitae convallis elit nunc eget augue. 
            Aliquam volutpat id nisi nec bibendum. Nulla at pharetra sem.</p>
        <h3>Latest posts</h3>
        {% show_latest_posts 3 %}   
        <h3>Most commented posts</h3>
        {% get_most_commented_posts as most_commented_posts %}
        <ul>
            {% for post in most_commented_posts %}
                <li>
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>

